body {
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    background-color: rgb(14, 6, 60);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
}

button {
    background-color: white;
    border-color: rgb(14, 6, 60);
    border-radius: 0.3em;
    transition: font-size 0.1s;
}

button:hover {
    cursor: pointer;
}

button:active {
    font-size: 0.8em;
}

